.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
}

.darkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #333;
    /* Dark background */
    color: #fff;
    /* Light text for dark mode */
    padding: 20px;
}

.header {
    font-size: 24px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.formGroup {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.button {
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.successMessage {
    color: green;
    margin-top: 15px;
}

.errorMessage {
    color: red;
    margin-top: 15px;
}

.toggleButton {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.darkInput {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #555;
    background-color: #444;
    /* Dark background for input */
    color: #fff;
    /* Light text color for input */
}